*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    padding: 30px;
    display: grid;
    place-items: center;
}

.film{
    min-width: 500px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.saisie{
    min-height: 40px;
    width: 800px;
    border: solid black 2px;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 5px;
}

label{
    font-size: 1.5rem;
}

#submit-button:hover{
    cursor: pointer;
    background-color: #000;
    color: #fff;
    transition: all 0.2s ease-in-out;
}