:root{
    --background-color: #f3f3f3;
    --text-color: #153e70;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    padding: 30px;
    display: grid;
    place-items: center;
    background: var(--text-color);
    color: var(--background-color);
}

.saisie{
    min-height: 40px;
    width: 800px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 5px;
}

label{
    font-size: 1.5rem;
}

#submit-button:hover{
    cursor: pointer;
    background-color: linear-gradient(0deg, #153e70 0%, #f3f3f3 100%);
    color: #f3f3f3;
}